
.sidebar{
    position: absolute;
    height: 80%;
    margin-top: 3%;
    background-color: rgb(148, 223, 158);
}

.sidebar-option{
    font-size: medium;
    padding: 10px 25px;
    margin-top: 10px;
}

.sidebar-option:first-of-type{
    margin-top: 50%;
}

.sidebar-option:hover{
    cursor: pointer;
    background-color: rgb(5, 93, 24);
    color: white;
}